*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.tours-date{
    width: 15%;
    color: gray;
}
.tours-city{
    width: 25%;
    color: grey;
}
.tours-place{
    width: 55%;
}

.tours-ul{
    width: 60%;
    margin: auto;
    padding-bottom: 5rem;
}
.tours-list{
    display: flex;
    padding-bottom: 1.5rem;
    padding-top: 10px;
    border-bottom: 2px solid black;
}
.tours-city, .tours-date, .tours-place{
    text-align: left;
}
.tours-btn{
    width: 8rem;
    padding: 0 10px;
    background-color: #56CCF2;
    font-size: 15px;
}